<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
 <div>Team Name: <%= @team_name %></div>
 <div>Coach: <%= @coach %></div>
 <div>Point Guard: <%= @point_guard %></div>
 <div>Shooting Guard: <%= @shooting_guard %></div>
 <div>Power Forward: <%= @power_forward %></div>
 <div>Small Forward: <%= @small_forward %></div>
 <div>Center: <%= @center %></div>


 </body>
</html>


